$primary: #022873; 

$font-family: "Raleway", sans-serif;
$font-weight-normal: 600;

//clases de bootstrap
.card-img-top{
    height: 14rem;
    object-fit: cover;
    display:block;
}

.carousel-item{
    height: 500px;
    justify-content: center;
    
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";
